/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Bungee, cursive;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 4; padding-top: 2em;}
    .div2 { grid-area: 3 / 1 / 5 / 4; }
    .div3 { grid-area: 1 / 4 / 5 / 6; } 

@media screen and (max-width: 80em) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        } 

    .div3 { grid-area: 5 / 1 / 6 / 4; } 
}


/* =========================================================== */

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card {
  aspect-ratio: 1 / 1.5;
}

.card_title {
  font-size: 1rem;
  color: #0F1112;
}

.card_image {
  aspect-ratio: 1 / 1;
}

@media (min-width: 40em) {
.card_img {
  aspect-ratio: 1 / 1;
}
}
